:root {
  --azul-inatel: #007bff;
  --azul-escuro: #0056b3;
  --cinza-claro: #f4f6f8;
  --vermelho: #e74c3c;
  --vermelho-hover: #c0392b;
  --verde: #00b894ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--cinza-claro);
  color: #333;
}

header {
  background: var(--azul-inatel);
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}

nav {
  background: var(--azul-escuro);
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.75rem;
}

nav button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

nav button:hover {
  opacity: 0.8;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.page {
  display: none;
}

.active {
  display: block;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#searchInput {
  width: 80%;
  max-width: 500px;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

h2 {
  margin-bottom: 1rem;
  color: var(--azul-escuro);
}

.job-list {
  display: grid;
  gap: 1rem;
}
.my-application-list {
  display: grid;
  gap: 1rem;
}

.job-card {
  border: 1px solid #ddd;
  border-left: 5px solid var(--azul-inatel);
  padding: 1rem;
  border-radius: 4px;
  background: #fff;
  transition: transform 0.1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-info {
  flex: 1;
}

.job-card:hover {
  transform: scale(1.01);
}

.job-card h3 {
  margin-bottom: 0.5rem;
}

.upload-btn {
  display: inline-block;
  background-color: var(--azul-inatel);
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.upload-btn:hover {
  background-color: var(--azul-escuro);
  transform: scale(1.03);
}

.upload-btn span {
  pointer-events: none;
}

.footer {
  text-align: center;
  color: #777;
  padding: 2rem 0;
  font-size: 0.9rem;
}

.remove-btn {
  display: inline-block;
  background-color: var(--verde);
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.remove-btn:hover {
  background-color: var(--vermelho-hover);
  transform: scale(1.03);
}

.remove-btn span {
  pointer-events: none;
}